* {
    margin:0;
    padding: 0;
}
body {
    max-width: 1200px;
    margin: auto;
    font-family: Verdana, sans-serif;
    padding: 10px;
}

.logo {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.logo img {
    height: 100px;
    width: auto;
}
.logo a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

nav {
    background-color: dimgray;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding-right: 10px; 
}

/* MasterHead */
.master-head {
    font-size: 1.2rem;
    Color: white;
    margin-top: 10px;
    background-image: url("../images/cranio-1200px.webp");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center center;
    height: 400px;
}
.master-head h1 {
    text-transform: uppercase;
    margin-left: 10%;   
    padding-top: 50px;
}
.post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 3rem;
    padding: 2rem 0;
}
.post {
    /* background-color: pink; */
    /* padding: 1rem; */
}
.post h2 {
    text-transform: uppercase;
    width: 100%;
    margin-top: 1rem;
}
.post ul {
    margin-top: 1rem;   
    padding-left: 3rem;
    font-weight: 600;
}

.post p {
    margin-top: 1rem; 
    text-align: justify;
}

.post img {
    width: 100%;
    height: auto;
} 
.post a {
    margin-top: 1rem;
}

.post iframe {
    width: 100%;
    height: 500px;
}
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-details h2 {
    text-align: center;
    text-transform: none;
}

footer {
    background-color: dimgray;
    color: white;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer a{
    color: white;
    font-style: italic;
}
footer p {
    font-size: 0.8rem;
}
@media screen and (max-width: 1200px) {
    .post-container {
      grid-template-columns: 1fr;
    }
  }
  
